---
import Post from "../../components/Post.vue";
import Island from "../../layouts/Island.astro";
---

<Island title="Blog Posts">
  <div slot="island">stuff!!!</div>
  <div class="flex flex-col">
    {Array(10).fill(<Post />)}
  </div>
</Island>
