---
import Post from "../../components/Post.astro";
import Island from "../../layouts/Island.astro";

import { getCollection } from "astro:content";
import PageMeta from "../../components/PageMeta.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<Island title="Blog Posts" titleLink="/blog/" image="typewriter.png">
  <div slot="island">stuff!!!</div>
  <div class="flex flex-col">
    <Post entry={entry} standalone />
  </div>
</Island>
