---
import Post from "../../components/Post.astro";
import Island from "../../layouts/Island.astro";

import { getCollection } from "astro:content";
import PageMeta from "../../components/PageMeta.astro";

const posts = await Promise.all(
  (await getCollection("blog")).map(async (post) => ({
    ...post,
    rendered: await post.render(),
  }))
);

const firstPage = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Island title="Blog Posts" titleLink="/blog" image="typewriter.png">
  <PageMeta
    slot="head"
    title="Mitch's Blog"
    description="My highly meaningful thoughts."
    image="typewriter.png"
  />
  <div slot="island">stuff!!!</div>
  <div class="flex flex-col">
    {
      firstPage.map(async (p, i) => {
        // TODO: something with headings
        return (
          <Fragment>
            {i !== 0 && <hr class="w-full my-4 border-t-2 border-gray-400" />}
            <Post entry={p} />
          </Fragment>
        );
      })
    }
  </div>
</Island>
