---
import Post from "../../../components/Post.astro";
import Island from "../../../layouts/Island.astro";

import { getCollection } from "astro:content";
import PageMeta from "../../../components/PageMeta.astro";
import BlogIslandContent from "../../../components/BlogIslandContent.vue";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("blog", (entry) => !entry.data.unlisted);

  // sortedTags is the same for every page:
  const sortedTags = Array.from(
    posts
      .flatMap((post) => post.data.tags)
      .reduce((acc, tag) => {
        return acc.set(tag, (acc.get(tag) ?? 0) + 1);
      }, new Map<string, number>())
  )
    // only show tags that occur more than one time:
    .filter((value) => value[1] > 1)
    // sort by count, descending:
    .sort((a, b) => b[1] - a[1]);

  const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

  return paginate(sortedPosts, { pageSize: 10, props: { sortedTags } });
}) satisfies GetStaticPaths;

const {
  sortedTags,
  page: { data: currentPagePosts, url },
} = Astro.props;
---

<style is:global>
  :root {
    --main-bg: #fffbfa;
    --content-pane-bg: white;
    --shadow-color: rgb(100, 100, 100);
  }
</style>

<Island title="Type Type Type" titleLink="/blog" image="typewriter.png" imageLink="/blog">
  <PageMeta
    slot="head"
    title="Self-Discovery"
    description="My blog, which contains my highly meaningful thoughts."
    image="typewriter.png"
  />
  <div slot="island">
    <BlogIslandContent tagCounts={sortedTags} client:load />
  </div>
  <!--
    TODO: extract the below into a BlogPageContent component for use in
    [tag].astro
  -->
  <div class="flex flex-col">
    {
      currentPagePosts.map(async (p, i) => {
        return <Post entry={p} />;
      })
    }
    <div class="flex justify-between w-full mb-6 px-2 md:px-0">
      <a
        href={url.prev ? (url.prev.endsWith("/1") ? "/blog" : url.prev) : "#"}
        class={"p-2 bg-gray-100 md:bg-white md:border-2" + (url.prev ? "" : " invisible")}
      >
        <span class="underline">Previous</span>
      </a>
      <a
        href={url.next ?? "#"}
        class={"p-2 bg-gray-100 md:bg-white md:border-2" + (url.next ? "" : " invisible")}
      >
        <span class="underline">Next</span>
      </a>
    </div>
  </div>
</Island>
