---
import Angles from "../../assets/angles.html.svg?raw";
import Logo from "../../assets/logo.html.svg?raw";
import PageMeta from "../components/PageMeta.astro";
import Html from "../layouts/Html.astro";
---

<Html>
  <PageMeta
    slot="head"
    title="Mitch's Website <3"
    description="Accumulating evidence for the insanity plea."
    image="sine.png"
  />
  <div class="font-home h-dvh w-screen flex items-center content-center overflow-hidden">
    <div class="h-dvh w-full absolute top-0 left-0 overflow-hidden -z-10" set:html={Angles} />
    <div class="mx-auto p-5 bg-white inner-width aggressive-rounding">
      <div set:html={Logo} class="flex items-center justify-center" style="height: 200px" />
      <ul class="list-disc my-4 px-4 sm:px-28 text-xl sm:text-2xl">
        <li>Born 1997</li>
        <li>Software Enthusiast and Som'times-Do-Well</li>
        <li>Aspiring Towards Greatness</li>
        <li>
          <a href="/about/"> About Me </a>
        </li>
        <li>
          <a href="/projects/"> My Projects </a>
        </li>
        <li>
          <a href="/notes/"> My Notes </a>
        </li>
        <li>
          <a href="https://github.com/toBeOfUse">My Github</a>
        </li>
      </ul>
    </div>
  </div>
</Html>

<style lang="scss">
  @use "sass:math";
  @import "../scss/multicolor.scss";
  @font-face {
    font-family: "OpenSauceOne";
    src:
      url("/fonts/opensauceone-regular-webfont.woff2") format("woff2"),
      url("/fonts/opensauceone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  li {
    margin-top: 10px;
  }
  ul {
    list-style-type: " - ";
  }
  a {
    text-decoration: underline;
  }
  .inner-width {
    width: 800px;
    max-width: 95%;
  }
  :global(svg .angles-group rect) {
    opacity: 0.2;
    @include color-shifter;
    animation-name: fill-colors;
    animation-duration: 6s;
    @for $i from 0 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $i * math.div($i * 6, 10) * -1s;
      }
    }
    @media (prefers-reduced-motion) {
      animation-iteration-count: 0;
    }
  }
  :global(svg .logo-color-shift) {
    @include color-shifter;
    animation-name: fill-colors;
    opacity: 0.8;
    animation-duration: 8s;
    @media (prefers-reduced-motion) {
      animation-iteration-count: 0;
    }
  }
  .aggressive-rounding {
    border-radius: 60px;
    @media (max-width: 640px) {
      border-radius: 30px;
    }
  }
</style>
