---
import Angles from "../../assets/angles.html.svg?raw";
import Logo from "../../assets/logo.html.svg?raw";
---

<div class="h-dvh w-screen flex items-center content-center overflow-hidden">
  <div class="h-dvh w-full absolute top-0 left-0 overflow-hidden -z-10" set:html={Angles} />
  <div class="mx-auto p-5 bg-white inner-width aggressive-rounding">
    <div set:html={Logo} class="flex items-center justify-center" style="height: 200px" />
    <ul class="list-disc my-4 px-4 sm:px-28 text-xl sm:text-2xl">
      <li>Born 1997</li>
      <li>Software Enthusiast and Som'times-Do-Well</li>
      <li>Aspiring Towards Greatness</li>
      <li>
        <a href="/about/"> About Me </a>
      </li>
      <li>
        <a href="/projects/"> My Projects </a>
      </li>
      <li>
        <a href="/notes/"> My Notes </a>
      </li>
      <li>
        <a href="https://github.com/toBeOfUse">My Github</a>
      </li>
    </ul>
  </div>
</div>

<style lang="scss">
  @use "sass:math";
  @import "../../assets/multicolor.scss";
  @font-face {
    font-family: "OpenSauceOne";
    src:
      url("assets/opensauceone-regular-webfont.woff2") format("woff2"),
      url("assets/opensauceone-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  li {
    margin-top: 10px;
  }
  ul {
    font-family: OpenSauceOne, sans-serif;
    list-style-type: " - ";
  }
  a {
    text-decoration: underline;
  }
  .inner-width {
    width: 800px;
    max-width: 85%;
  }
  :global(svg .angles-group rect) {
    opacity: 0.2;
    @include color-shifter;
    animation-name: fill-colors;
    animation-duration: 6s;
    @for $i from 0 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $i * math.div($i * 6, 10) * -1s;
      }
    }
  }
  :global(svg .logo-color-shift) {
    @include color-shifter;
    animation-name: fill-colors;
    opacity: 0.8;
    animation-duration: 8s;
  }
  .aggressive-rounding {
    border-radius: 60px;
    @media (max-width: 640px) {
      border-radius: 30px;
    }
  }
</style>
