
@mixin content {
    & p {
        margin-top: 1.25em;
        margin-bottom: 1.25em;
    }
    & a {
        text-decoration: underline;
    }
    & figure {
        @apply my-4 bg-gray-200 p-2 w-4/5 mx-auto;
        & img {
            @apply max-w-sm w-full h-auto mx-auto max-h-96;
        }
        & figcaption {
            @apply w-full text-sm rounded my-2;
        }
    }
}
