@use 'sass:color';
$fill-starting-color: rgb(99, 206, 227);
@keyframes fill-colors {
  @for $i from 0 through 10 {
    #{$i*10}% {
      fill: color.adjust($fill-starting-color, $hue: 36deg * $i);
    }
  }
}
@keyframes bg-colors {
  @for $i from 0 through 10 {
    #{$i*10}% {
      background-color: color.adjust($fill-starting-color, $hue: 36deg * $i);
    }
  }
}
@mixin color-shifter {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
