---
import ProjectItem from "../../components/ProjectItem.vue";

import { getEntry } from "astro:content";
import Island from "../../layouts/Island.astro";
import PageMeta from "../../components/PageMeta.astro";
import ProjectsIslandContent from "../../components/ProjectsIslandContent.vue";
import ImageSlideshow from "../../components/ImageSlideshow.vue";

const allProjects = await Promise.all(
  [
    // "townchest",
    "hacksu-lessons",
    "khe-io",
    "small-sites",
    "libsrcml-js",
    "research-folder",
    "bundle-md",
    "singlehanded",
    "perspective",
    // "mitchbot-streams",
    "spelling-bee",
    "catullus",
    // "corn-simulator", // (folded into small-sites)
    "minecraft-maps",
    "twitter-messages-archive",
    "presentations",
    "sweet-sh",
    "this-website",
  ].map(async (title) => {
    const e = await getEntry("projects", title);
    if (!e) {
      throw new Error("could not find project entry: " + title);
    }
    return e;
  })
);
---

<Island title="What Have I Done?" titleLink="/projects/" image="circuit.png">
  <PageMeta
    slot="head"
    title="Projects - Mitch's Website"
    description="Stuff I've made."
    image="circuit.png"
  />
  <Fragment slot="island">
    <ProjectsIslandContent client:load>
      <Fragment slot="text">
        <p class="my-2">
          This is a question we must all ask ourselves from time to time, and this is the
          page where I'm recording my answers.
        </p>
        <p class="my-2">
          Herein lie descriptions of various projects I've created or worked on for fun,
          for school, or in a more-or-less professional capacity.
        </p>
      </Fragment>
      <Fragment slot="toc">
        {
          (
            <ul class="text-left pl-4">
              {allProjects.map((p) => (
                <li class="my-1">
                  <a href={`/projects#${p.slug}`}>
                    <span class="underline">{p.data.title}</span> ({p.data.date})
                  </a>
                </li>
              ))}
            </ul>
          )
        }</Fragment
      >
    </ProjectsIslandContent>
  </Fragment>
  <div class="my-8 md:my-10">
    {
      allProjects.map(async (p, i) => {
        const { Content } = await p.render();
        return (
          <Fragment>
            {i !== 0 && <hr class="w-full my-2 border-t-2 border-white" />}
            <ProjectItem entry={p}>
              {!!p.data.images?.length && (
                <ImageSlideshow
                  client:load
                  images={p.data.images.map((i) => ({
                    ...i,
                    url: "projects" + i.url,
                  }))}
                />
              )}
              <Content />
            </ProjectItem>
          </Fragment>
        );
      })
    }
  </div>
</Island>
