---
import ProjectItem from "../../components/ProjectItem.vue";

import { getEntry } from "astro:content";
import Island from "../../layouts/Island.astro";
import PageMeta from "../../components/PageMeta.astro";

const allProjects = await Promise.all(
  [
    "hacksu-lessons",
    "khe-io",
    "libsrcml-js",
    "research-folder",
    "bundle-md",
    "singlehanded",
    "perspective",
    // "mitchbot-streams",
    "spelling-bee",
    "catullus",
    "corn-simulator",
    "minecraft-maps",
    // "twitter-archive-browser",
    // scattered single pages - progress meter, v-arcs, mail, etc.
    "presentations",
    "sweet-sh",
    "this-website",
  ].map(async (title) => {
    const e = await getEntry("projects", title);
    if (!e) {
      throw new Error("could not find project entry: " + title);
    }
    return { ...e, rendered: await e.render() };
  })
);
---

<Island
  title="What Have I Done?"
  image="thought-rodin.jpg"
  imageLink="https://philamuseum.org/collection/object/101812"
>
  <PageMeta slot="head" title="Projects" description="Stuff I've made." />
  <Fragment slot="island">
    <p class="my-2">
      This is a question we must all ask ourselves from time to time, and this is the page where I'm
      recording my answers.
    </p>
    <p class="my-2">
      Herein lie loose descriptions of various projects I've created or worked on for fun, for
      school, or in a more-or-less professional capacity.
    </p>
    <select id="contents" value="toc" class="w-10/12 p-1 mt-2">
      <option value="toc">Table of Contents...</option>
      {
        allProjects.map((p) => (
          <option value={p.slug}>
            {p.data.title} ({p.data.date})
          </option>
        ))
      }
    </select>
  </Fragment>
  <div class="my-8 md:my-10">
    {
      allProjects.map((p, i) => {
        const { Content } = p.rendered;
        return (
          <Fragment>
            {i !== 0 && <hr class="w-full my-4 border-t-2 border-gray-400" />}
            <ProjectItem entry={p}>
              <Content />
            </ProjectItem>
          </Fragment>
        );
      })
    }
  </div>
</Island>

<script>
  const tocSelect = document.querySelector("select#contents") as HTMLSelectElement;
  if (!tocSelect) {
    throw new Error("could not find table of contents select element");
  }
  let thingSelected = false;
  tocSelect.addEventListener("change", (e) => {
    const slug = (e?.target as HTMLOptionElement)?.value;
    if (slug !== "toc") {
      document.querySelector("#" + slug)?.scrollIntoView();
    }
    setTimeout(() => {
      thingSelected = true;
    }, 50);
  });
  window.addEventListener("scroll", () => {
    if (thingSelected && tocSelect) {
      tocSelect.value = "toc";
      thingSelected = false;
    }
  });
</script>
