---
import Post from "../../../components/Post.astro";
import Island from "../../../layouts/Island.astro";

import { getCollection } from "astro:content";
import PageMeta from "../../../components/PageMeta.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  const tags = new Set(blogEntries.flatMap((entry) => entry.data.tags));
  return Array.from(tags).map((tag) => ({
    params: { tag },
  }));
}

const posts = await Promise.all(
  (
    await getCollection("blog", (entry) => entry.data.tags.includes(Astro.params.tag))
  ).map(async (post) => ({
    ...post,
    rendered: await post.render(),
  }))
);

const firstPage = posts.sort((a, b) => a.data.date.getTime() - b.data.date.getTime());

function pluralize(count: number, singular: string, plural?: string) {
  if (count === 1) return singular;
  return plural ?? singular + "s";
}
---

<Island
  title={"Tagged: " + Astro.params.tag}
  titleLink="/blog/"
  image="typewriter.png"
  imageLink="/blog"
>
  <PageMeta
    slot="head"
    title={`Tagged: "${Astro.params.tag}"`}
    description="My highly meaningful thoughts."
    image="typewriter.png"
  />
  <div slot="island">
    <p class="my-8">
      There {pluralize(posts.length, "is", "are")}
      {posts.length}
      {pluralize(posts.length, "post")} tagged "{Astro.params.tag}."
    </p>
  </div>
  <div class="flex flex-col">
    {
      firstPage.map(async (p, i) => {
        // TODO: something with headings
        return (
          <Fragment>
            {i !== 0 && <hr class="w-full my-4 border-t-2 border-gray-400" />}
            <Post entry={p} />
          </Fragment>
        );
      })
    }
  </div>
</Island>
