---
interface Props {
  bgImage?: string;
}

// 768px is tailwind's md breakpoint. this probably could be crammed into utility
// classes, but that seems tortured?
const style = Astro.props.bgImage
  ? `
@media (min-width: 768px) {
  html {
    background: #f9f9f9 url(${Astro.props.bgImage}) no-repeat center center fixed;
    background-size: cover;
  }
}`
  : "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://u.mitch.website/script.js"
      data-website-id="6c592fe5-5646-40c9-be1b-8272071f5950"
      data-domains="mitch.website"></script>
    <style set:html={style}></style>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    background: var(--main-bg);
  }
</style>

<script>
  // this halts animated svgs if the user has operating system settings that
  // disable animations

  let reducedMotion =
    window.matchMedia(`(prefers-reduced-motion: reduce)`).matches === true;

  if (reducedMotion) {
    stopSmilAnimations();
  }

  function stopSmilAnimations() {
    let svgs = document.querySelectorAll("svg");
    svgs.forEach((svg) => {
      svg.pauseAnimations();
    });
  }
</script>
