---
import Html from "./Html.astro";
import NavIsland from "../components/NavIsland.vue";

interface Props {
  title?: string;
  image?: string;
  imageLink?: string;
}

const { title, image, imageLink } = Astro.props;
---

<Html>
  <slot name="head" slot="head" />
  <div class="flex flex-col md:flex-row lg:px-8 xl:px-28">
    <div class="h-auto md:w-1/4 md:min-w-[300px] mx-6 lg:mx-4">
      <NavIsland title={title} image={image} imageLink={imageLink}>
        <slot name="island" />
      </NavIsland>
    </div>
    <div class="xl:max-w-[700px] lg:max-w-[600px] md:max-w-[500px] mx-auto pl-2 pr-4">
      <slot />
    </div>
  </div>
</Html>
