---
import Html from "./Html.astro";
import NavIsland from "../components/NavIsland.vue";
---

<Html>
  <div class="flex">
    <div class="h-auto">
      <NavIsland title="Blog Posts">stuff</NavIsland>
    </div>
    <div class="mx-10 w-full">
      <div class="max-w-[550px] mx-auto">
        <slot />
      </div>
    </div>
  </div>
</Html>
