---
import ProjectHeaderImage from "../components/ProjectHeaderImage.vue";
import BasicFooter from "../components/BasicFooter.vue";
import Html from "./Html.astro";
---

<Html>
  <slot name="head" slot="head" />
  <div class="m-6 p-4 mx-auto max-w-screen-md">
    <ProjectHeaderImage />
    <slot />
    <BasicFooter />
  </div>
</Html>
